<!DOCTYPE html>
<html>
    <head>
        <title>Parameters Form</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <h1 class="title">Post it!</h1>
    <div class="container">
    <form method="POST">
        Plattform: <input type="text" name="plattform" value="{{ form_data.plattform }}"><br>
        Zielgruppe: <input type="text" name="zielgruppe" value="{{ form_data.zielgruppe }}"><br>
        Sprache: <input type="text" name="sprache" value="{{ form_data.sprache }}"><br>
        Perspektive: <input type="text" name="perspektive" value="{{ form_data.perspektive }}"><br>
        Länge: <input type="text" name="laenge" value="{{ form_data.laenge }}"><br>
        Anzahl Varianten: <input type="text" name="varianten" value="{{ form_data.varianten }}"><br>
        Format: <input type="text" name="format" value="{{ form_data.format }}"><br>
        Text: <textarea name="text" rows="4" cols="50">{{ form_data.text }}</textarea><br>
        <input type="submit" value="Submit">
    </form>
    <div class="message">
    <p id="message">{{ message }}</p>
    <button onclick="copyToClipboard()">Copy to Clipboard</button>
</div>
</div>
    <script>
        function copyToClipboard() {
            var text = document.querySelector('#message').innerText;
            navigator.clipboard.writeText(text);
        }
    </script>
</body>
</html>
